@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}body{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10px;
    gap: 35px;
}header{
    display: flex;
    flex-direction: column;
}a{
    color: white;
    font-size: 138%;
    padding-top: 30px;
    text-decoration: none;
}.photo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}.feed{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-right: 25px;
}.curtir{
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}.billie{
    width: 100%;
}#perfil{
    width: 40px;
    height: 40px;
}.dada{
    font-size: 15px;
}.feed div{
    display: flex;
    align-items: center;
}#perfil2{
    width: 40px;
    height: 40px;
}#perfil3{
    width: 40px;
    height: 40px;
}.recom{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}.recomendado{
    display: flex;
    align-items: center;
    gap: 20px;
}.link{
    color: rgb(5, 153, 252);
    font-size: 16px;
    padding-bottom: 25px;
}.historia{
    background-image: linear-gradient(to top, #fc01d8, #ef131a, #9909f5, #f7b700);
    width: 77px;
    height: 77px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}#stories{
    display: flex;
}h1{
    font-family: "Caveat", cursive;
    font-size: 50px;
}